@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
}

nav,
.nav-links {
	display: flex;
}

nav {
	justify-content: space-around;
	align-items: center;
	height: 17vh;

	h1 {
		font-size: 2rem;
		font-weight: normal;
		cursor: default;
	}
}

.nav-links {
	gap: 2rem;
	list-style: none;
	font-size: 1.5rem;
}

a {
	color: black;
	text-decoration: none;
	text-decoration-color: white;

	&:hover {
		color: gray;
		text-decoration: underline;
		text-underline-offset: 1rem;
		text-decoration-color: black;
	}
}

section {
	padding-top: 4vh;
	height: 96vh;
	margin: 0 10rem;
	box-sizing: border-box;
	min-height: fit-content;
	position: relative;
}

p {
	color: rgb(85, 85, 85);
	font-weight: 600;
}

#experience,
#projects,
#contact {
	text-align: center;

	p {
		font-size: 1rem;
	}
}

.title {
	font-size: 3rem;
}

/* Profile */
#profile {
	display: flex;
	justify-content: center;
	gap: 5rem;
	height: 80vh;
}

.profile-pic-container {
	display: flex;
	width: 400px;
	height: 400px;
	margin: auto 0;
}

.profile-details-container,
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-details-container {
	gap: 1rem;
	margin: auto 0;
}

.intro-p2 {
	font-size: 1.75rem;
}

.btn-container {
	display: flex;
	justify-content: center;
	gap: 1rem;

	button {
		font-weight: 600;
		transition: all 300ms ease;
		padding: 0.5rem;
		width: 8rem;
		border: rgb(53, 53, 53) 0.1rem solid;
		border-radius: 2rem;

		&:hover {
			cursor: pointer;
		}
	}

	.resume-btn {
		background-color: white;
	}

	.contact-btn,
	.resume-btn:hover {
		background: rgb(53, 53, 53);
		color: white;
	}

	.contact-btn:hover {
		background-color: black;
	}
}

.social-container {
	display: flex;
	justify-content: center;
	gap: 1rem;

	img {
		cursor: pointer;
	}
}

/* Experience */

.experience-container {
	display: flex;
	justify-content: space-evenly;
	gap: 3rem;
	margin-top: 2rem;
}

.details-container {
	background-color: white;
	border: 1px solid rgb(163, 163, 163);
	border-radius: 2rem;
	padding: 1.5rem;
	flex: 1;
}

.experience-sub-title {
	color: rgb(85, 85, 85);
	font-size: 1.75rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

.article-container {
	display: flex;
	text-align: initial;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2.5rem;
	justify-content: space-around;
}

article {
	display: flex;
	width: 10.5rem;
	gap: 0.5rem;

	.icon {
		width: 36px;
		height: 36px;
	}
}

.arrow {
	position: absolute;
	right: -5rem;
	bottom: 2.5rem;
	cursor: pointer;
}

/* Contact */
#contact {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 70vh;
}

.contact-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;

	border-radius: 2rem;
	border: rgb(53, 53, 53) 0.1rem solid;
	border-color: rgb(163, 163, 163);
	background-color: white;
	margin: 2rem auto;
	padding: 0.5rem;
}
/* .details-container {
	background-color: white;
	border: 1px solid rgb(163, 163, 163);
	border-radius: 2rem;
	padding: 1.5rem;
	flex: 1;
} */

.contact-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin: 0.5rem;
	cursor: pointer;
}
